* {
    padding: 0;
    margin: 0;
    text-rendering: optimizeLegibility;
    transition: 0.3s;
}
html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;  
    color: inherit;           
}
/* -------------- Testeo de efecto - solo para chrome */
@view-transition{ 
    navigation: auto;
}
::view-transition-group(*){
    animation-duration: 1s;
}
/* -------------------------------------------------- */
@font-face {
    font-family: "lineage_font";
    src: url(../fonts/lineage_font.ttf);
}
@font-face {
    font-family: "roboto_regular";
    src: url(../fonts/Roboto-Regular.ttf);
}
/*-------------------------------------------------------------------------- Genral */
.letra_chica{
    font-size: 0.75rem ;
}
.gris{
    background-color: rgb(48, 48, 48);
    padding: 3px;
    border-radius: 5px;
}
.color_para_link{
    color: rgb(89, 89, 196);
}
.onest_font{
    font-family: "Onest", sans-serif !important; 
    font-optical-sizing: auto;
}
.direccion_link{
    width: 70%; 
    margin: auto; 
    font-family: onest; 
    color: rgb(131, 130, 130); 
    padding-bottom: 5px; 
    margin-top: 5rem;
    font-size: 13px
}
/*-------------------------------------------------------------------------- Menu cabecera */
header{
    background-color: rgb(15, 15, 15);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul, ol {
    list-style-type: none; 
}
.nav  li  a{
    background-color: rgb(15, 15, 15);
    padding: 10px 15px 10px 15px;
    display: block;
    height: 100%;
    color: white;
    font-size: 14px;
    font-family: "Onest", sans-serif;
    font-optical-sizing: auto;
    

}
.nav > li{
    float: left;
    position: relative;
    max-width: fit-content;
}   
.mouse_arriba a{
    border-radius: 3px;
    margin: 0 5px 0 5px;
}
.mouse_arriba a:hover{
    background-color: rgb(56, 56, 56);
    box-shadow: 0 0 10px 0 rgba(94, 81, 55, 0.6);
}
.nav li ul li a{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px; 
    padding: 8px 12px;
}
.nav li ul li a:hover{
    background-color: rgb(56, 56, 56);
    
}
.nav li ul{
    display: none;
    position: absolute;
    text-align: center;
    min-width: 140px;
    z-index: 2;
    width: max-content;
}
.brillito{
    box-shadow: 0 0 10px 0 rgba(94, 81, 55, 0.6);
    z-index: 1;
}
.play:hover{ 
    box-shadow: 0 0 5px 0 rgba(247, 202, 120, 0.6);
}
.play{
    background-color: rgb(28, 32, 36);
    padding: 10px 15px 10px 15px;
    display: block;
    height: 100%;
    color: white;
    margin-right: 30px !important;
    font-family: "Onest", sans-serif;
    font-optical-sizing: auto;
}
.nav ul{
    border-radius: 11px;
}
.nav li:hover > ul{
    display: block;
}
.menu_cabecera{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cabecera{
    display: flex; 
    align-items: center; 
    width: 90%; 
    margin: auto; 
    padding: 15px 0 15px 10px;
}


/*-------------------------------------------------------------------------- para el footer  */

footer{
    /* background-color: rgba(1b, 1b, 1b, 0.26); */
    color: white;
    padding: 1rem 2rem;
    min-height: fit-content;
    text-align: center;
    flex-wrap: wrap;
}
.footer_abajo{
    display: grid;
    min-height: 100dvh;
    grid-template-rows: 
    auto 1fr auto;
}
.inconos{
    display: flex;
    justify-content: end;
    gap: 10px;
}
.tamanio_icono{
    font-size: 25px;
}

/*-------------------------------------------------------------------------- Menu razas */
.test{
    margin: 0;
}
.menu_razas{
    height: fit-content;
    display: flex;
    justify-content: center;
    background-color: rgb(15, 15, 15);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    margin-top: 3px;
    color: white;
}

.opciones_razas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none; 
    -moz-user-select: none;    
    -ms-user-select: none;
}
#human, #elf, #delfdark, #elf, #orc, #dwarf, #kamael{
    width: 50px;
}
.opciones_razas:hover{
    box-shadow: 0 0 10px 0 rgba(252, 252, 252, 0.6);
}
.opciones_razas img{
    width: 38px;
    height: 38px;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.6);
    margin-bottom: 6px;
}

/* -------------------------------------------------------------------------- background */

body{
    background-color: #1b1b1b;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);

}
.fondo_index{
    background: url(../img/fondowebbyn_.webp) no-repeat center fixed;
    background-size: cover;
} 
.estilo_fondo{
    background-color: rgb(15, 15, 15);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
    width: 70%; 
    border-radius: 5px;
    margin: auto;
    padding: 1rem;
    color: rgb(209, 208, 208);
}

.bloque_centrado{
    display: flex;
    justify-content: center;
}

.contenido{
    margin: 30px 10% 30px 10% ;
    
}

.contenido_comunidad_videos{
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: end;
    gap: 3px;
}
.contenido_comunidad_videos iframe{
    width: 100%;
    height: 160px;
}

/* -------------------------------------------------------------------------- Tabla skilles */
.contenedor_pestanias{
    display: flex; 
    align-items: center; 
    padding: 8px 16px 0px 16px; 
    background-color: #1b1b1b;
    flex-wrap: wrap;
}
.pestania_class{
    display: flex;
    padding: 8px 16px 8px 16px;
    align-items: center;
    gap: 10px;
    border-radius: 6px 6px 0 0;
    color: rgb(99, 99, 99);
    text-align: center;
    font-family: "Onest";
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    height: 15px;
    margin-left: 4px;
    margin-right: 4px;
    user-select: none;
    -webkit-user-select: none; 
    -moz-user-select: none;    
    -ms-user-select: none;

}
.pestania_class:hover{
    background-color: #3b3b3b;
    color: rgb(99, 99, 99);
}
.row_skill_tabla{
    display: flex;
    align-items: center;
    position: relative;

}
.donde_estoy{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 10px;
}
.donde_estoy div{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
}
.titulo_row{
    display: flex;
    padding: 16px;
    align-items: center;
    font-family: "Onest";
    font-size: 14px;
}
.row_skill_tabla2{
    display: flex;
    padding: 16px;
    align-items: center;
    background-color: rgb(15, 15, 15);
    font-family: "Onest";
    width: 50%;
}
.img_row_skill_tabla img{
    width: 38px;
    height: 38px;
    margin-right: 16px;
}
.stat_column{
    width: 10%;
    text-align: center;
}
.title_text_row{
    font-size: 14px;
    font-weight: 400;
    font-family: "Onest";
}
.text_row{
    font-size: 13px !important;
    font-weight: 400;
}
.esconder{
    display: none;
}
.brilli{
    background-color: #3b3b3b;
    color: white;
}


/* -------------------------------------------------------------------------- tooltip */

.tooltip{
    font-weight: bold;
    position: relative;
    color: rgb(89, 89, 196);

}
.tooltip:hover{
    text-decoration: underline;
}
.tooltip:hover .tooltip-box{
    display: inline-block;
}
.tooltip-box{
    position: absolute;
    background: black;
    width: fit-content;
    z-index: 500;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;    
    left: 0;
    right: 0;
    bottom: 30px;
    display: none;
}
.tooltip-box img{
    box-shadow: 0 0 10px 0 rgba(252, 252, 252, 0.6);
}
.tooltip-box::after{
    content: "";
    display: block;
    border-top: 10px solid #000;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    bottom: -10px;
    left: calc(25% - 7px);
}


/* -------------------------------------------------------------------------- mostrar / ocultar tabla */

.transicion {
    max-height: 2000px;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.esconder {
    max-height: 0;
}
.rotado{
    transform: rotate(180deg);
}

/* -------------------------------------------------------------------------- skills */
.contenido_y_video{
    display: flex;
    padding: 3px;
    border-radius: 5px;
}
td p{
    padding-left: 3px;
    padding-right: 3px;
}
td img{
    padding-left: 3px;
    padding-right: 3px;
}
.td1{
    width: 20%;
}
.td2{
    width: 80%;
}

.padding_tabla  table tbody tr td{
    padding: 0.25rem 0.25rem;
}

/* -------------------------------------------------------------------------- Quests */
.tamaño_tabla{
    width: 80%;
    text-align: center;
}
.tr_color{
    background-color: antiquewhite;
}
.padding5{
    padding: 5px;
}

/* -------------------------------------------------------------------------- Clases */
.titulo_img{
    display: flex;
    align-items: center;
}

.img_presentacion{
    width: 4rem;
    height: 4rem;
}

.contenido_comunidad h1{
    font-size: 5rem;
    font-family: "lineage_font";
    padding-left: 10px;
}
p{
    font-family: "roboto_regular";
}

.margin_10{
    margin: 10px;
}

/* -------------------------------------------------------------------------- index */
.contenedor_index{
    background-color: rgb(15, 15, 15);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
    width: 85%;
    border-radius: 5px;
    margin-bottom: 25px;
    padding: 1rem;
    color: rgb(209, 208, 208);
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
}


/* -------------------------------------------------------------------------- Test */
.banner{
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.banner .slider{
    position: absolute;
    width: 200px;
    height: 250px;
    top: 10%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 20s linear infinite;
    z-index: 2;
}
@keyframes autoRun{
    from{
        transform: perspective(1000px) rotateX(-12deg) rotateY(0deg);
    }to{
        transform: perspective(1000px) rotateX(-12deg) rotateY(360deg);
    }
}

.banner .slider .item{
    position: absolute;
    inset: 0 0 0 0;
    transform: 
        rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
        translateZ(550px);
}
.banner .slider .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner .content .model{
    background-image: url(../img/test/gladiador.webp);
    width: 90%;
    height: 75vh;
    position: absolute;
    bottom: 0;
    left: 0;
    background-size: auto 130%;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: 1;
}

.Underwiki{
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 10px;
    font-size: 7rem;
    z-index: 1;
    font-family: "Onest";
    display: flex;
}

.primerh1{
    color: transparent;
    -webkit-text-stroke: 5px rgb(255, 255, 255);
}
.segundoh1{
    color: white;
}



/* -------------------------------------------------------------------------- Test */